///<reference path="_variables.scss" />
///<reference path="../node_modules/bootstrap/scss/_variables.scss" />
///<reference path="../node_modules/bootstrap/scss/_variables-dark.scss" />

.achievement-row {
    border: 2px solid $border-color;
    margin-bottom: 3px;

    &.achieved {
        border-color: $primary;
        background: transparentize($primary, .75);
    }
}

[data-bs-theme="dark"] {
    .achievement-row {
        border: 2px solid $border-color-dark;
        margin-bottom: 3px;

        &.achieved {
            border-color: $primary;
            background: darken($primary, 23);
        }
    }
}