///<reference path="_variablesShared.scss" />
///<reference path="_variablesLight.scss" />
///<reference path="_variablesDark.scss" />
///<reference path="../node_modules/bootstrap/scss/_variables.scss" />

.achievement-row {
    border: 2px solid $border-color;
    margin-bottom: 3px;

    &.achieved {
        border-color: $primary;
        background: darken($primary, 23);
    }
}
