<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <div class="container">
        <a class="navbar-brand" asp-action="Index" asp-controller="Home" asp-area="" display-for="@AppSettings.Value.AppName"></a>

        <div class="text-white" id="navbar-navmenu">
            <ul class="navbar-nav ms-auto flex-row">
                <li class="navbar-text mx-2">
                    <environment include="Development">
                        <span class="text-warning">Development Server</span>
                    </environment>
                </li>
                <li class="nav-item">
                    <form asp-action="Basic" asp-controller="Search" asp-area="" method="get" class="d-flex mt-1" role="search">
                        <input class="form-control me-2" type="search" name="q" placeholder="Search" maxlength="20" style="width:100px;">
                        @*<button class="btn btn-outline-info" type="submit">Search</button>*@
                    </form>

                </li>
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Home" asp-area="Admin" class="nav-link">
                        <span class="mdi mdi-fw mdi-cog"></span><span class="d-none d-lg-inline">Site Management</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>