<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <div class="container">
        <a class="navbar-brand" asp-action="Index" asp-controller="Home" asp-area="" display-for="@AppSettings.Value.AppName"></a>

        <div class="text-white" id="navbar-navmenu">
            <ul class="navbar-nav ms-auto flex-row">
                <li class="nav-item">
                    <form asp-action="Basic" asp-controller="Search" asp-area="" method="get" class="d-flex" role="search">
                        <input class="form-control me-2" type="search" name="q" placeholder="Search" maxlength="20" style="width:100px;">
                    </form>
                </li>
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Reports" asp-area="" class="nav-link">
                        <span class="mdi mdi-fw mdi-file-chart"></span><span class="d-none d-lg-inline">Reports</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Home" asp-area="Admin" class="nav-link">
                        <span class="mdi mdi-fw mdi-cog"></span><span class="d-none d-lg-inline">Site Management</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <button type="button" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <span id="current-theme"></span>
                    </button>
                    <div class="dropdown-menu">
                        <button type="button" class="dropdown-item" data-bs-theme-value="light"><span class="mdi mdi-weather-sunny"></span> Light</button>
                        <button type="button" class="dropdown-item" data-bs-theme-value="dark"><span class="mdi mdi-weather-night"></span> Dark</button>
                        <button type="button" class="dropdown-item" data-bs-theme-value="auto"><span class="mdi mdi-theme-light-dark"></span> Auto</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>