@model bool?
@if (Model.HasValue && Model.Value) {
    <span class="mdi mdi-fw mdi-check text-success"></span>
} else if (Model.HasValue) {
    <span class="mdi mdi-fw mdi-window-close text-danger"></span>
} else {
}