@page "/List/PerfectPossibleGames"
@inject GameListDataService service

<h3>Perfect Possible Games</h3>

@if (Model == null) {
    <Loading />
} else {
    <GameList Model="Model"></GameList>
}

@code {

    private GameListViewModel Model;

    protected async override Task OnInitializedAsync() {
        Model = await service.GetPerfectPossibleGames();
    }
}
