@if (Bool.HasValue && Bool.Value) {
    <span class="mdi mdi-fw mdi-checkbox-marked-outline text-success"></span>
} else if (Bool.HasValue) {
    <span class="mdi mdi-fw mdi-checkbox-blank-off-outline text-danger"></span>
} else {
    <span class="mdi mdi-fw mdi-checkbox-blank-outline text-muted"></span>
}

@code {
    [Parameter]
    public bool? Bool { get; set; }
}
