@inherits LayoutComponentBase

<NavMenu></NavMenu>

<main class="container">
    @Body
</main>

<footer class="container">
    <hr />
    <p class="text-center">
        <span style="height:.9em">
            <span class="twr-logo" style="font-size:1.5em;vertical-align:top;margin-right:.2em;">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </span>
        </span>
        <a href="https://github.com/StrutTower" target="_blank" rel="noopener noreferrer">TowerSoft</a>
        SteamAchievs
        &copy; @DateTime.Now.Year
    </p>
</footer>