@inherits LayoutComponentBase

<NavMenu></NavMenu>

<main class="container">
    @Body
</main>

<HeadContent>
    <title>SteamAchievs</title>
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="darkreader" content="dark-mode-supported-natively">
    <link rel="icon" type="image/png" href="favicon.png" />
    <link href="lib/bundle.min.css" rel="stylesheet" />
</HeadContent>