@inherits LayoutComponentBase

<NavMenu />

<main class="container">
    @Body
</main>

<footer class="container">
    <hr />
    <p class="text-center">
        <svg height="1.5em" width="1.5em" style="transform: translateY(-2px);">
            <rect height="11%" width="50%" x="-38%" y="38%" fill="white" transform="skewX(45)" />
            <rect height="11%" width="50%" x="-15%" y="54%" fill="white" transform="skewX(45)" />

            <rect height="11%" width="50%" x="19.5%" y="-25%" fill="white" transform="rotate(45) skewX(-45)" />
            <rect height="11%" width="50%" x="76.5%" y="15%" fill="white" transform="rotate(45) skewX(-45)" />
        </svg>

        <a href="https://github.com/StrutTower" target="_blank" rel="noopener noreferrer">TowerSoft</a>
        SteamAchievs
        &copy; @DateTime.Now.Year
    </p>
</footer>