@inject NavigationManager NavManager

<nav class="navbar navbar-dark bg-dark mb-3">
    <div class="container">
        <a class="navbar-brand" href="">SteamAchievs</a>

        <div class="text-white" id="navbar-navmenu">
            <ul class="navbar-nav ms-auto flex-row">
                <li class="nav-item">
                    <form @onsubmit="SearchSubmit" class="d-flex" role="search">
                        <input type="search" class="form-control me-2" @bind-value="searchTerm" placeholder="Search" />
                    </form>
                </li>
                <li class="nav-item px-1">
                    <a href="Reports" class="nav-link">
                        <span class="mdi mdi-fw mdi-file-chart"></span><span class="d-none d-lg-inline">Reports</span>
                    </a>
                </li>
                <li class="nav-item px-1">
                    <a href="Admin" class="nav-link">
                        <span class="mdi mdi-fw mdi-cog"></span><span class="d-none d-lg-inline">Site Management</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private string searchTerm;

    private async Task SearchSubmit() {
        NavManager.NavigateTo("Search/" + searchTerm);
    }
}
