
<div class="row">
    @foreach (RecentGameModel game in RecentGames) {
        <RecentGameCard RecentGame="game"></RecentGameCard>
    }
</div>

@code {
    [Parameter]
    public RecentGameModel[]? RecentGames { get; set; }
}
