@model EditAchievementModel

<h5>TrueSteamAchievements.com</h5>
<p>
    <a href="https://truesteamachievements.com/searchresults.aspx?search=@Model.AchievementSchema.Name" target="_blank" rel="noopener noreferrer">
        Search Achievement
    </a>
    /
    <a href="https://truesteamachievements.com/searchresults.aspx?search=@Model.SteamGame.NameClean" target="_blank" rel="noopener noreferrer">
        Search Game
    </a>
</p>

<hr />

<h5>TrueAchievements.com</h5>
<p>
    <a href="https://www.trueachievements.com/searchresults.aspx?search=@Model.AchievementSchema.Name" target="_blank" rel="noopener noreferrer">
        Search Achievement
    </a>
    /
    <a href="https://www.trueachievements.com/searchresults.aspx?search=@Model.SteamGame.NameClean" target="_blank" rel="noopener noreferrer">
        Search Game
    </a>
</p>

<hr />

<h5>SteamHunters</h5>
<p>
    <a href="https://steamhunters.com/achievements?q=@Model.AchievementSchema.Name" target="_blank" rel="noopener noreferrer">
        Search Achievement
    </a>
    /
    <a href="https://steamhunters.com/games?q=@Model.SteamGame.NameClean" target="_blank" rel="noopener noreferrer">
        Search Game
    </a>
</p>

<form asp-action="Edit" asp-controller="Achievement" id="edit-achievement-form" data-achievement-key="@Model.AchievementKey">
    @Html.HiddenFor(x => x.SteamGameID)
    @Html.HiddenFor(x => x.AchievementKey)

    <formField asp-for="DescriptionOverride"></formField>
    <div class="mb-3">
        <label asp-for="TagIDs"></label>
        <select asp-for="TagIDs" asp-items="Model.TagList" class="slim-select-basic" multiple></select>
        <span asp-validation-for="TagIDs"></span>
        <description asp-for="TagIDs"></description>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>