<p>
    <a href="https://store.steampowered.com/app/@SteamGame.ID" target="_blank" rel="noopener noreferrer">Steam</a>
    /
    <a href="https://steamhunters.com/apps/@SteamGame.ID" target="_blank" rel="noopener noreferrer">SteamHunters</a>
    /
    <a href="https://www.pcgamingwiki.com/w/index.php?search=@SteamGame.NameClean" target="_blank" rel="noopener noreferrer">PCGamingWiki</a>
</p>

@code {
    [Parameter]
    public SteamGameModel SteamGame { get; set; }
}
