<div class="row mb-3">
    <div class="col-auto">
        <div class="column-label">Perfect Possible</div>
        <div class="text-center">
            <BooleanIcon Bool="GameDetails.PerfectPossible"></BooleanIcon>
        </div>
    </div>
    <div class="col-auto">
        <div class="column-label">Play Next Score</div>
        <div class="text-center">@GameDetails.PlayNextScore</div>
    </div>
    <div class="col-auto">
        <div class="column-label">Finished</div>
        <div class="text-center">
            <BooleanIcon Bool="GameDetails.Finished"></BooleanIcon>
        </div>
    </div>
    <div class="col-auto">
        <div class="column-label">ProtonDB Rating</div>
        <div class="text-center">
            <ProtonDbRating Rating="@GameDetails.ProtonDbRating"></ProtonDbRating>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public GameDetailsModel? GameDetails { get; set; }
}
