@page "/Game/View/{ID:long}"
@inject GameDataService service
@inject TagDataService tagDataService

@if (Model != null) {
    <div id="game-background-img">
        <img src="@Model.SteamGame.BackgroundUrl" />
    </div>

    <GameViewMain Model="Model" ResyncGameCallback="ResyncGame" />
    <GameViewTabs Model="Model" Tags="Tags" ResyncRunning="ResyncRunning"></GameViewTabs>
}

@code {
    [Parameter]
    public long ID { get; set; }

    private GameViewModel Model;

    private List<TagModel> Tags;

    private bool ResyncRunning = false;

    protected async override Task OnInitializedAsync() {
        Model = await service.GetGameViewModel(ID);
        Tags = (await tagDataService.GetActiveBySteamGameID(ID)).ToList();
    }

    private async Task ResyncGame() {
        ResyncRunning = true;
        Model = await service.ResyncGame(ID);
        StateHasChanged();
        ResyncRunning = false;
    }
}
