
.twr-logo {
    display: inline-block;
    font-size: 1em;
    position: relative;
    height: 0.9em;
    width: 1em;

    span {
        position: absolute;
        display: block;
        box-sizing: content-box;
        height: .1em;
        width: .5em;
        background: white;

        &:nth-child(1) {
            transform: rotate(45deg) skew(-45deg);
            right: calc(1em / 6);
            top: calc(1em / 5.1);
        }

        &:nth-child(2) {
            transform: rotate(45deg) skew(-45deg);
            left: calc(1em / 6);
            bottom: calc(1em / 5.1);
        }

        &:nth-child(3) {
            transform: skew(45deg);
            top: calc(1em /3.1);
            left: calc(1em / 20);
        }

        &:nth-child(4) {
            transform: skew(45deg);
            bottom: calc(1em / 3.1);
            right: calc(1em / 20);
        }
    }
}

$backgroundColors: #754fa0,#09b7bf,#90d36b,#f2d40d,#fcb12b,#ed1b72;
$animationTime: 0.5s;
$animationStyle: cubic-bezier(.23,.78,.69,.84);

.bar-loader {
    width: 120px;
    height: 100px;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    transition: all $animationTime $animationStyle;

    b {
        height: 100%;
        width: 16px;
        display: inline-block;
        float: left;
        margin-left: 2.4px;
        margin-right: 2.4px;
        transition: margin $animationTime $animationStyle;
        animation: pulse 0.8s infinite ease-in-out;

        $delay: -0.8;

        @for $i from 1 through 6 {
            &:nth-child(#{$i}) {
                background: nth($backgroundColors, $i);
                animation-delay: $delay + 0.1s;
                $delay: $delay + 0.1s;
            }
        }

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

@keyframes pulse {
    0%, 40%, 100% {
        transform: scaleY(0.05);
    }

    20% {
        transform: scaleY(1.0);
    }
}