///<reference path="_variables.scss" />
///<reference path="../node_modules/bootstrap/scss/_variables.scss" />
///<reference path="../node_modules/bootstrap/scss/_variables-dark.scss" />

.proton-db-badge {
    color: black !important;
    padding: .1rem 1rem;
    border-radius:4px;
    font-weight:600;
    letter-spacing:1px;
    text-shadow:none !important;

    &.proton-platinum {
        background: rgb(180, 199, 220);
    }

    &.proton-gold {
        background: rgb(207, 181, 59);
    }

    &.proton-silver {
        background: rgb(166, 166, 166);
    }

    &.proton-bronze {
        background: rgb(205, 127, 50);
    }

    &.proton-borked {
        background: red;
    }
}
