@page "/"
@inject HomeDataService service

@if (model != null) {
    <p class="text-center">
        <a href="List/PerfectGames">Pefect Games</a>
        /
        <a href="List/NonPerfectGames">Non-Pefect Games</a>
        /
        <a href="List/IncompleteGames">Incomplete Games</a>
        /
        <a href="List/PerfectPossibleGames">Perfect Possible Games</a>
        /
        <a href="List/NoComplicationGames">No Complication Games</a>
        /
        <a href="List/PlayNextScoreGames">With Play Next Score</a>
    </p>
    @if (model.PerfectLostCount.HasValue && model.PerfectLostCount > 0) {
        <div class="alert alert-danger text-center font-weight-semibold">
            <h5>
                Perfect Status Has Been Lost on @model.PerfectLostCount game@(model.PerfectLostCount == 1 ? "" : "s")
            </h5>
            <a href="PerfectLost">
                View Perfect Lost Games
            </a>
        </div>
    }

    @if (model.RecentGames == null) {
        <p>Loading</p>
    } else {
        <RecentGameList RecentGames="model.RecentGames" />
    }
}

@code{
    private HomeViewModel model;

    protected override async Task OnInitializedAsync() {
        model = await service.GetHomeViewModel();
    }
}