@page "/Admin"

<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href=""><span class="mdi mdi-fw mdi-home"></span></a></li>
    <li class="breadcrumb-item active">Site Management</li>
</ul>

<h3>Site Management</h3>
<hr />

<p>
    <a href="Admin/Tags">Tags</a>
</p>

@code {



}
