@page "/Reports"

<PageTitle>Reports - SteamAchievs</PageTitle>

<h3>Reports</h3>
<hr />

<p>
    <a href="Reports/MissingPerfectPossible">Missing Perfect Possible</a>
    /
    <a href="Reports/MissingPlayNext">Missing Play Next Score</a>
</p>

<p>
    <a href="Reports/RarestAchievementSort">Rarest Achievement Sorting</a>
    /
    <a href="Reports/RecentlyUnlocked">Recently Unlocked Achievements</a>
</p>

@code {
}
